<div>
  <h2 id="page-heading" data-cy="EntrepriseHeading">
    <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.home.title">Entreprises</span>

    <div class="mt-5 d-flex justify-content-start">
      <div class="input-group">
        <div class="form-outline">
          <input
            type="search"
            [(ngModel)]="motCleRecherche"
            name="libelle"
            class="form-control"
            placeholder="Rechercher un type"
            (ngModelChange)="Search()"
          />
        </div>
        <button type="button" class="btn btn-primary">
          <fa-icon icon="search"></fa-icon>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entreprise"
        [routerLink]="['/entreprise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.home.createLabel"> Créer un nouveau Entreprise </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entreprises?.length === 0">
    <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.home.notFound">Aucun Entreprise trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entreprises && entreprises.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ninea">
            <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.ninea">Ninea</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nbreEmploye">
            <span jhiTranslate="gatewayApp.gestionReferentielEntreprise.nbreEmploye">Nbre Employe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entreprise of entreprises; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entreprise', entreprise.id, 'view']">{{ entreprise.id }}</a>
          </td>
          <td>{{ entreprise.nom }}</td>
          <td>{{ entreprise.ninea }}</td>
          <td>{{ entreprise.dateCreation | formatMediumDate }}</td>
          <td>{{ entreprise.nbreEmploye }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entreprise', entreprise.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entreprise', entreprise.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(entreprise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="entreprises && entreprises.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
